body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.row {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.cell {
  width: 100px;
  height: 100px;
  display: block;
  background: rgba(0, 0, 0, 0.1);
}

.row:nth-child(2n - 1) .cell:nth-child(2n - 1),
.row:nth-child(2n) .cell:nth-child(2n) {
  background: rgba(0, 0, 0, 0.3);
}

.cell.player-0 {
  background: red !important;
}

.cell.player-1 {
  background: blue !important;
}
